<div class="col-md-8 offset-md-2 col-xs-10 offset-xs-1">
    <div class="justify-content-center">
        <h3 class="top_margin">References</h3>
        <ul>
            <li><i>A Concise Dictionary of Middle Egyptian</i> (1991, 2017) - Raymond O. Faulkner, 2017 ed. modernized by Boris Jegorovic, PDFs. <a href="https://community.dur.ac.uk/penelope.wilson/Hieroglyphs/Faulkner-A-Concise-Dictionary-of-Middle-Egyptian-1991.pdf">Link (1991)</a>, <a href="https://archive.org/details/pj1425.f3">Link (2017)</a></li>
            <li><i>Middle Egyptian Dictionary</i> (2018, 2012) - Mark Vygus, PDFs. <a href="http://rhbarnhart.net/VYGUS_Dictionary_2018.pdf">Link (2018)</a>, <a href="https://www.pyramidtextsonline.com/MarkVygusDictionary.pdf">Link (2012)</a> </li>
            <li><i>Dictionary of Middle Egyptian</i> (2006) - Paul Dickson, PDF. <a href="http://www.pyramidtextsonline.com/documents/DicksonDictionary.pdf">Link</a></li>
            <li><i>Lexicon dictionary</i> (2013) - Compiled by Morris Franken complementary to the paper titeled "Automatic Egyptian Hieroglyph Recognition by Retrieving Images as Texts" (ACM Conference on Multimedia, 2013).</li>
            <li><i>RES Js</i> - Middle Egyptian formatting and display library for the web.</li>
        </ul>
    </div>
    <div class="justify-content-center">
        <h3 class="top_margin">Dedications</h3>
        <ul>
            <li>To <i>Silvia Zago</i>, for teaching me Middle Egyptian, without which none of this would have ever happened.</li>
            <li>To <i>Ronald J. Leprohon</i>, for introducing me to Middle Egyptian literature, always having enthusiasm, and making me challenge my preconceptions of the ancient world.</li>
            <li>To <i>Mark-Jan Nederhof</i>, for creating RES Js, without which all of this data would be undisplayable; and for creating PhilologEg, whose corpora have allowed me to start creating machine translation models for Middle Egyptian.</li>
            <li>To <i>Mark Vygus</i> and <i>Paul Dickson</i>, for taking the time to compile their respective dictionaries.</li>
        </ul>
    </div>
</div>
