body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.search_div {
    display:flex;
}

.search_config {
    display: flex;
    font-size: smaller;
    border-radius: 10px;
    margin: 4px;
}

.top_margin {
    margin-top: 0.75em;
}

.large_text {
    font-size: 3em;
}